<main>

    <div class="salir">
        <button class="btn-primary" (click)="volver()">
            <i class="bi bi-arrow-left back"></i></
            button>
    </div>
    <div class="container d-flex justify-content-center align-items-center vh-100">

        <div class="card  p-4 register-card">
            <form (ngSubmit)="onSumit()" #registerForm="ngForm">
                <div class="card-body">
                    <h2 class="text-center">
                        Ingrese sus Datos
                    </h2>

                    <div class="text-center mb-2">
                        <i class="bi bi-person-fill user-icon"></i>
                    </div>

                    <div class="mb-3">
                        <div class="input-wrapper">

                            <input type="text" class="form-control" placeholder="nombre" [(ngModel)]="nombre"
                                name="nombre" required nombre #nombreField="ngModel">

                            @if(nombreField.touched && nombreField.errors?.['required']){

                            <span class="input-alert"> nombre requerido</span>
                            }
                        </div>

                    </div>

                    <div class="mb-3">
                        <div class="input-wrapper">

                            <input type="text" class="form-control" placeholder="apellido" [(ngModel)]="apellido"
                                name="apellido" required apellido #apellidoField="ngModel">

                            @if(apellidoField.touched && apellidoField.errors?.['required']){

                            <span class="input-alert"> apellido requerido</span>
                            }
                        </div>

                    </div>

                    <div class="mb-3">
                        <div class="input-wrapper">

                            <input type="number" class="form-control" placeholder="edad" min="1" [(ngModel)]="edad"
                                name="edad" required edad #edadField="ngModel">

                            @if(edadField.errors?.['required'] && edadField.touched){

                            <span class="input-alert"> edad requerida</span>
                            }

                            @if(edadField.touched && edadField.errors?.['min']){

                            <span class="input-alert"> edad invalida</span>
                            }
                        </div>

                    </div>

                    <div class="mb-3">
                        <div class="input-wrapper">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">
                                        <i class="bi bi-envelope-fill"></i>
                                    </span>

                                </div>

                                <input type="email" class="form-control" placeholder="email" [(ngModel)]="email"
                                    name="email" required email #emialField="ngModel">
                            </div>

                            @if(emialField.touched && emialField.errors?.['required']){
                            <span class="input-alert">
                                email requerido
                            </span>
                            }

                            @if(emialField.touched && emialField.errors?.['email']){
                            <span class="input-alert">
                                formato invalido
                            </span>
                            }

                        </div>

                    </div>

                    <div class="mb-3">
                        <div class="input-wrapper">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">
                                        <i class="bi bi-lock-fill"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" [(ngModel)]="password" name="password"
                                    required password #passwordField="ngModel" placeholder="Ingrese su contraseña">
                            </div>


                            <div class="alert-space">
                                @if(passwordField.touched && passwordField.errors?.['required']){
                                <span class="input-alert">contraseña es requerida</span>
                                }

                            </div>

                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="input-wrapper">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">
                                        <i class="bi bi-lock-fill"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" [(ngModel)]="passwordConfirm"
                                    name="passconfirm" required password #passConField="ngModel" [pattern]="password"
                                    placeholder="confirmar contraseña">
                            </div>

                            <div class="alert-space">
                                @if(passConField.errors?.['pattern'] && passConField.touched){
                                <span class="input-alert">las contraseñas no coinciden</span>
                                }

                            </div>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 mt-2"
                        [disabled]="registerForm.invalid || loading()">
                        Registrarse
                    </button>

                </div>
            </form>


        </div>
    </div>

</main>