<main>
    <div class="salir">
        <button class="btn-primary" (click)="volver()">volver</button>
    </div>




    <div class="container">


        <h1>Ingrese sus Datos</h1>


        <form class="form-register" (ngSubmit)="onSumit()" #registerForm="ngForm">

            <div class="form-data">

                <div class="data-input">
                    <input type="text" placeholder="nombre" [(ngModel)]="nombre" name="nombre" required nombre
                        #nombreField="ngModel">

                    @if(nombreField.touched && nombreField.errors?.['required']){

                    <span class="alert"> nombre requerido</span>
                    }

                </div>

                <div class="data-input">
                    <input type="text" placeholder="apellido" [(ngModel)]="apellido" name="apellido" required apellido
                        #apellidoField="ngModel">

                    @if(apellidoField.touched && apellidoField.errors?.['required']){
                    <span class="alert">
                        apellido requerido
                    </span>
                    }

                </div>

                <div class="data-input">
                    <input type="number" placeholder="edad" min="1" [(ngModel)]="edad" name="edad" required edad
                        #edadField="ngModel">

                    @if(edadField.errors?.['required'] && edadField.touched){

                    <span class="alert">
                        edad requerida
                    </span>
                    }

                    @if(edadField.touched && edadField.errors?.['min'] ){

                    <span class="alert">
                        edad invalida
                    </span>

                    }

                </div>

                <div class="data-input">
                    <input type="email" placeholder="email" [(ngModel)]="email" name="email" required email
                        #emialField="ngModel">

                    @if(emialField.touched && emialField.errors?.['required']){
                    <span class="alert">
                        email requerido
                    </span>
                    }

                    @if(emialField.touched && emialField.errors?.['email']){
                    <span class="alert">
                        formato invalido
                    </span>
                    }


                </div>


                <div class="data-input">
                    <input type="password" placeholder="contraseña" minlength="6" [(ngModel)]="password"
                        name="contraseña" required contraseña #passField="ngModel">


                    @if(passField.touched && passField.errors?.['required']){

                    <span class="alert">
                        contraseña invalida
                    </span>
                    }

                </div>

                <div class="data-input">
                    <input type="password" placeholder="confirmar contraseña" [(ngModel)]="passwordConfirm"
                        name="passconfirm" required [pattern]="password" passconfirm #passConField="ngModel">


                    @if(passConField.errors?.['pattern'] && passConField.touched){

                    <span class="alert">
                        las contraseñas no coinciden
                    </span>
                    }

                </div>

            </div>

            <button type="submit" [disabled]="registerForm.invalid|| loading()">
                registrarse
            </button>

        </form>

    </div>

    <div class="error-contaier" [style.visibility]="errorMensaje() != ''  ? 'visible' : 'hidden' ">
        <div class="mensaje-error">
            <div>{{errorMensaje()}}</div>
        </div>
    </div>

</main>