<main>


    @if(auth.user()){

    <div class="usuario-contaier">
        <button class="btn-primary" (click)="cerraSesion()">cerra sesion</button>
        <span class="usuario-nombre">{{nombreUsuario()}}</span>
    </div>


    <div class="container">

        <nav class="nav-bar">
            <button class="nav-btn" (click)="toggleMostar()" routerLink="quienSoy" routerLinkActive="active">quien
                soy</button>

        </nav>

        @if(mostrar()){
        <router-outlet></router-outlet>
        }
        @else{
        <div class="cartel">
            <h1>Bienvenido {{nombreUsuario()}}</h1>
        </div>

        }
    </div>

    }
    @else{

    <div class="logeo">
        <button routerLink="/registro" class="btn-primary">registrarse</button>
        <button routerLink="/login" class="btn-secundary">iniciarSesion</button>
    </div>

    <div class="saludo">
        <h1 class="cartel">Bienvenido Anonimo por favor inicie sesion</h1>
    </div>

    }

</main>