.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.usuario-contaier {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.usuario-nombre {
    color: white;
    font-weight: var(--uh-fontweight);
    margin-right: 0.5rem;
}

.dashboard {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem
}

.logeo {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cartel {

    display: flex;
    justify-content: center;
    color: white;

}

.saludo {
    margin-top: 7.5rem;
}


.nav-bar {

    display: flex;

    width: 40rem;
    height: 3rem;

    overflow: hidden;

    border-radius: 999px;

    background-color: var(--uh-accent);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-btn {
    flex: 1;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--uh-accent);
    transition:
        background-color 0.2s ease,
        transform 0.2s ease;

}

.nav-btn:last-child {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.nav-btn:hover {
    background-color: white;
    color: var(--uh-accent);
}

.nav-btn:first-child {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.custom-nav {
    background-color: var(--uh-subcard);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    min-width: 180px;
    background-color: var(--uh-inputCard);
}

.piano-nav {
    width: 100%;

    position: fixed;

    top: 56px;

    z-index: 999;

    display: flex;

    background-color: var(--uh-card);

    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.piano-btn {

    flex: 1;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--uh-inputCard);
    color: rgb(105, 105, 105);
    padding: 14px 0;
    font-weight: 600;
    transition: 0.2s;
}

.piano-btn:last-child {
    border-right: none;
}

.piano-btn:hover {

    background-color: var(--uh-card);
    color: white;

}

.bi-pencil-square,
.bi-card-list {
    font-size: 2rem;
}

.floating-buttons {
    position: fixed;

    bottom: 25px;
    left: 25px;

    display: flex;
    gap: 12px;

    z-index: 9999;
}

.floating-btn {
    width: 60px;
    height: 60px;

    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

    transition: 0.25s;
}

.floating-btn i {
    font-size: 1.5rem;
    color: white;
}

.floating-btn:hover {
    transform: translateY(-4px) scale(1.05);
}

.router-container {

    position: relative;
    min-height: 575px;
    margin-bottom: 3rem;
}

.footer-fijo {
    position: relative;
    z-index: 1;
}

:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenido-principal {
    flex: 1;
}