<nav class="navbar navbar-expand-lg navbar-dark custom-nav">

    <div class="container-fluid">

        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <h5 class="pt-1">Sala de Juegos</h5>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <i class="bi bi-list"></i>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" id="acercaDeMi">acerca de mi</a>
                </li>
            </ul>

            <span style="color: white; font-weight: bold;">{{email}}</span>


            <div class="d-flex align-items-center justify-content-start">
                <div class="dropdown">

                    <button class="btn text-white" (click)="mostrarMenu.set(!mostrarMenu())">

                        <i class="bi bi-person-fill user-icon"></i>

                    </button>

                    @if(mostrarMenu()) {

                    <ul class="dropdown-menu dropdown-menu-end show">

                        <li>
                            <button class="dropdown-item" (click)="cerrarSesion()">

                                Cerrar sesión

                            </button>
                        </li>

                    </ul>

                    }

                </div>
            </div>

        </div>

    </div>
</nav>


<div class="piano-nav d-flex">

    <button (click)="mostrar.set(true)" class="piano-btn" routerLink="ahorcado" routerLinkActive="active">
        Ahorcado
    </button>

    <button (click)="mostrar.set(true)" class="piano-btn" routerLink="mayorMenor" routerLinkActive="active">
        Mayor o Menor
    </button>

    <button (click)="mostrar.set(true)" class="piano-btn" routerLink="listadojuegos" routerLinkActive="active">
        <i class="bi bi-list-ul fw-bold"></i>
    </button>

    <button (click)="mostrar.set(true)" class="piano-btn" routerLink="preguntados" routerLinkActive="active">
        Preguntados
    </button>

    <button (click)="mostrar.set(true)" class="piano-btn" routerLink="simplebj" routerLinkActive="active">
        Simple Blackjack
    </button>
</div>

<main class="contenido-principal">

    @if(router.url === '/home'){
    <div >
        <h1 class="cartel">Bienvenido {{email}}</h1>
    </div>
    }

    <div class="floating-buttons">

        <button class="btn-primary" routerLink="encuesta" routerLinkActive="active" title="responder Encuesta"><i
                class="bi bi-pencil-square"></i></button>

        @if(isAdmin()){

        <button class="btn-primary" routerLink="/resultados" title="Ver encuetas"><i
                class="bi bi-card-list"></i></button>

        }

    </div>


    <div class="flex-grow-1 router-container" [@routeAnimations]="router.url">
        <router-outlet></router-outlet>
    </div>

    <app-chat></app-chat>



</main>

<footer class="footer-fijo">
    <app-quien-soy></app-quien-soy>
</footer>

