.encuestas-wrapper{
    max-width: 1100px;
    margin: auto;
}

.encuesta-card{
    background: #0b5d56;
    border-radius: 24px;
    padding: 30px;
    color: white;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.25);

    transition: 0.25s;
}

.encuesta-card:hover{
    transform: translateY(-3px);
}

.nombre{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.fecha{
    opacity: 0.8;
    margin-top: 5px;
}

.badge-satisfaccion{
    background: rgba(255,255,255,0.15);
    padding: 10px 18px;
    border-radius: 999px;
    font-weight: bold;
    text-transform: capitalize;
}

.dato-box{
    display: flex;
    gap: 15px;
    align-items: flex-start;

    background: rgba(255,255,255,0.06);

    padding: 18px;
    border-radius: 16px;
}

.dato-box i{
    font-size: 1.4rem;
}

.label{
    font-size: 0.9rem;
    opacity: 0.7;
}

.dato-box p{
    margin: 0;
    font-size: 1.05rem;
    font-weight: 500;
}

.back{
    font-size: 2rem;
}