<div class="footer-cv">

    <div class="container brder-0 py-4">

        @if(desarrollador(); as usuario){

        <div class="card shadow border-0 p-4">

            <div class="row g-4 align-items-start">

                <!-- FOTO -->
                <div class="col-md-3 text-center">

                    <img [src]="usuario.avatar" alt="avatar" class="img-fluid rounded-circle border avatar-img">

                </div>

                <!-- INFORMACIÓN -->
                <div class="col-md-5 text-start">

                    <div class="card-body p-0">

                        <h2 class="fw-bold mb-1">
                            {{usuario.nombre.toUpperCase()}}
                        </h2>

                        <p class="text-muted mb-4">
                            @{{usuario.user}}
                        </p>

                        <div class="info-line">
                            <strong>Ubicación:</strong>
                            {{usuario.ubicacion}}
                        </div>

                        <div class="info-line">
                            <strong>Trabajando desde:</strong>
                            {{usuario.creacion | date:'dd/MM/yyyy'}}
                        </div>

                        <div class="mt-4">

                            <h5 class="section-title">
                                Biografía
                            </h5>

                            <p class="mb-0">
                                {{usuario.bio}}
                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-md-4 text-start">

                    <h5 class="section-title">
                        Simple BlackJack
                    </h5>

                    <p clas="info-line">
                        <strong>Reglas:</strong>
                    </p>
                    <ul class="list-unstyled">

                        <li>
                            Puedes <strong>pedir</strong> todas las cartas que quieras o <strong>plantarte</strong>.
                        </li>

                        <li>
                            Si superas <strong>21</strong>, pierdes automáticamente.
                        </li>

                        <li>
                            Si el dealer supera <strong>21</strong>, tú ganas.
                        </li>

                        <li>
                            Si tu puntuación es mayor que la del dealer <strong>sin superar 21</strong>, ganas.
                        </li>

                        <li>
                            En cualquier otro caso, pierdes.
                        </li>

                    </ul>

                </div>

            </div>

        </div>

        }

    </div>

</div>