:root {
  --uh-principal: #03a678;
  --uh-principal-luz: #33d6a8;
  --uh-accent: #f27405;
  --uh-subaccent: #FED9B9;
  --uh-accent-dark: #731702;
  --uh-accent-luz: #ff973c;
  --uh-bg: #014040;
  --uh-card: #02735E;
  --uh-subcard: #03A678;
  --uh-inputCard: #00e4a3;
  --uh-fontweight: 600;
  --uh-text: #190500;
  --uh-text-muted: #457474;
  --uh-success: #02fc87;
  --uh-danger: #ec2f04;
  --uh-border: #02735E;
  --uh-cardAlert: #ffc5c5;
  --uh-radius: 0.6rem;
  --uh-round: 1rem;
  --uh-shadow: 0px -0px 50px rgba(1, 31, 19, 0.767);
  --uh-hard-shadow: 30px 27px 12px -14px rgba(1, 31, 19, 0.767);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--uh-bg);
  color: var(--uh-text);
  font-size: 0.95rem;
  min-height: 100vh;
}



:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.contenido-principal {
  flex: 1;
  padding-top: 150px;
}

footer {
  margin-top: auto;

}

.btn-primary {
  background-color: var(--uh-accent);
  color: white;
  border: solid var(--uh-accent);
  border-radius: var(--uh-radius);
  width: fit-content;
}

.btn-primary:disabled {
  background-color: var(--uh-accent-dark);
  border: solid var(--uh-accent-dark);
  color: white;
}

.btn-primary:hover {
  background-color: white;
  color: var(--uh-accent);
  border: solid white;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active,
.btn-primary.active {
  background-color: var(--uh-accent-dark) !important;
  border-color: var(--uh-accent-dark) !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}



.btn-outline-light {
  background-color: var(--uh-accent-dark);
  border: solid var(--uh-accent-dark);
  border-radius: var(--uh-radius);
}

.btn-outline-light:hover {
  background-color: white;
  color: var(--uh-accent-dark);
  border: solid white;
}

.input-alert {
  position: absolute;
  left: calc(100% + 1px);
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--uh-cardAlert);
  color: var(--uh-danger);
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 4rem;
  background-color: var(--uh-subcard);
  border-radius: var(--uh-round);
}

.form-control {
  background-color: var(--uh-inputCard);
  color: var(--uh-text);
  border: none;
}

.form-control:focus {
  background-color: #41fac5;

  color: #000000;

  border-color: var(--uh-card);

  box-shadow: 0 0 0 0.2rem rgba(10, 124, 96, 0.35);

  outline: none;
}

.card {

  background-color: var(--uh-card);
  border: solid 1rem var(--uh-border);
  border-radius: var(--uh-round);
  color: white;
  box-shadow: var(--uh-shadow), var(--uh-hard-shadow);
}

.input-group-prepend {

  border: none;

  .input-group-text {
    background-color: var(--uh-accent);
    border: none;
    font-size: 1.2rem;
    color: white;
  }

}

.floating-error {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--uh-cardAlert);
  color: var(--uh-danger);
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 17px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
}

.floating-error.show {
  opacity: 1;
}